<div class="container mt-3">
  <div class="d-flex justify-content-end">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item">
            <a class="nav-link btn btn-primary me-3"> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary me-3"> About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary me-3"> Customer Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary me-3"> Order details</a>
          </li>
          <li>
            <a class="nav-link btn btn-primary me-3">Instructions</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>


<!-- Router Outlet is an Angular directive 
from the router library that is used to 
insert the component matched by routes 
to be displayed on the screen. -->
<router-outlet></router-outlet>
