<div class="container mt-3">
  <div class="m-3 text-end" *ngIf="userName">
    You have logged as : <strong> {{userName}} </strong>
  </div>
  <div class="d-flex justify-content-end">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item">
            <a class="nav-link btn btn-primary me-3" routerLink=""> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary me-3" routerLink="orders"> Customer Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary me-3" routerLink="order-details"> Order details</a>
          </li>
          <li>
            <a class="nav-link btn btn-primary me-3" routerLink="instructions">Instructions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary me-3" routerLink="aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary me-3" routerLink="logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<hr>


<!-- Router Outlet is an Angular directive 
from the router library that is used to 
insert the component matched by routes 
to be displayed on the screen. -->
<router-outlet></router-outlet>
