<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Instructions</h1>
        <p>
          Welcome to the Instructions page. Here, you will find helpful guidelines
          and steps to navigate our platform and make the most of its features.
        </p>
        <p>
          Getting started is easy! Simply sign up for an account or log in if
          you're already a member. Once logged in, you'll have access to a variety
          of tools and resources to help you achieve your goals.
        </p>
        <p>
          To place an order, navigate to the Orders page and browse through our
          selection of products. Click on the items you wish to purchase, specify
          quantities, and proceed to checkout. It's that simple!
        </p>
        <p>
          If you need assistance at any point, our customer support team is here
          to help. Reach out to us via email, phone, or live chat, and we'll be
          happy to assist you with any questions or concerns you may have.
        </p>
        <p>
          Thank you for choosing our platform. We're excited to have you onboard
          and look forward to serving you!
        </p>
      </div>
    </div>
    <ul>
      <li>
        <h5>Orders Page must contains the</h5>
        <p>OrderID , CustomerName , Order date , shipName and ShipAdress</p>
            - Here OrderID and orderDate are available in Orders Data 
            - Here CustomerName is available in Customers Data
            - Here Ship name and Ship Adress are available in Shippers Data
      </li>
      <li>
        <h5>OrderDetails Page must contains the</h5>
        <p>
          OrderID, ProductID , ProductName , Quanity , Suppliername ,
          SuppplierContactname , SupplierContactAddressName
        </p>
      </li>
    </ul>
  </div>
  